{
  "presets": [
    "@babel/preset-env",
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    ["webpack-alias",{
      "config": "./webpack/webpack.config.js"
    }]
  ],
  "env":{
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}